{% extends "courses/layout/base.html" %}

{% block title %}Hello World {% endblock %}



{% block body %}

<h1> Hello Bangladesh </h1>
<p>This 1.9 Research Question

    1.	How accurately can Twitter provide us customer’s sentiment regarding Daraz?
    2.	Can customer’s opinion be evaluated and visualized in terms of positive and negative tweets?
    1.9 Research Question

    1.	How accurately can Twitter provide us customer’s sentiment regarding Daraz?
    2.	Can customer’s opinion be evaluated and visualized in terms of positive and negative tweets?
    1.9 Research Question

    1.	How accurately can Twitter provide us customer’s sentiment regarding Daraz?
    2.	Can customer’s opinion be evaluated and visualized in terms of positive and negative tweets?
             my</p>

{% endblock %}