{% extends "courses/layout/base.html" %}
{% block body %}
{% if courses %}
{% for course in courses %}
<li><a href="/courses/{{ course.id }}">{{ course.title }}</a>  -- 

    <!-- <a href="/courses/update/{{ course.id }} " target="_blank" rel="noopener noreferrer">EDIT</a> -->

    <a href="{% url 'courses-edit' pk=course.id %} " target="_blank" rel="noopener noreferrer">EDIT</a>  ------------
    <a href="{% url 'courses-delete' pk=course.id %} " target="_blank" onclick="return confirm('Sure To Delete')" rel="noopener noreferrer">Delete</a> 


</li>



{% endfor %}


<hr>

{% if user.is_authenticated %}
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form>

{% endif %}
{% endif %}

{% endblock %}